{{> header }}
{{> title-home }}
<div class="main">
    <h2>Hello admin!</h2>
    <ul>
        <li><a href="/admin/create">Create/update a record</a>
        <li><a href="/admin/delete">Delete a record</a>
    </ul>
    <hr/>
    <h2>Core</h2>
    {{#each referenceCore}}
        {{> reference-item}}
    {{/each}}

    <h2>Effects</h2>
    {{#each referenceFx}}
        {{> reference-item}}
    {{/each}}

    <h2>Music</h2>
    {{#each referenceMusic}}
        {{> reference-item}}
    {{/each}}
</div>
{{> footer}}
