{{> header }}
{{> title-mini }}

<div role="main" class="main">
    <h2>Download</h2>
    <p>The latest version of Theresa's Sound World is 0.0.1</p>
    <ul>
        <li><a href="#">Theresa's Sound World 0.0.1 (128kb)</a>
        <li><a href="#">Theresa's Sound World 0.0.1 Minified (72kb)</a>
    </ul>
</div>
{{> footer }}
