{{> header }}
<header>
    <a href="/"><img src="/images/theresas-sound-world.png"/></a>
    <h1>Theresa's Sound World is a way of processing audio and making music using JavaScript</h1>
    {{> menu }}
</header>

<div role="main" class="main">
    <h2>Getting Started</h2>
    <p>Theresa's Sound World is powerful way of manipulating audio in the browser in a quick and friendly manner. Built on top of the Web Audio API, it uses a modular routing system allowing you to make sophisticated audio applications and instruments. It also provides a great way of making music using JavaScript. Check out the examples below!</p>

    <h3>Download</h3>
    <p>You'll need to download first.</p>
    

    <h3>Include</h3>
    <p>Reference the JavaScript file</p>

    <h3>Create your Sound World</h3>
    <p>After you include <a href="/download">theresas-sound-world.js</a> in your HTML document, create your own sound world by doing this:</p>
    <pre class="prettyprint">var context = new webkitAudioContext(),
    mySoundWorld = new SoundWorld(context);</pre>

    <h3>Play an audio file</h3>
    <p>Easy! Now let's play an audio file.
    <pre class="prettyprint">mySoundWorld.load({oddManTalking: '/audio/odd-man-talking.mp3'}, function (files) {
        // file has loaded
        mySoundWorld.play(files.oddManTalking);
    });
</pre>
    <p>Let's hear it - <button>Play</button></p>

    <h3>Flip it and reverse it</h3>
    <p>Something something...</p>
    <pre class="prettyprint">myFile = myFile.reverse();</pre>

    <h3>Dr. Phaser Crane</h3>
    <p>How to add a phaser effect.</p>
    <pre>myFile.play();</pre>
</div>
{{> footer }}