<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/master.css"/>
        <link rel="stylesheet" href="styles/prettify.css"/>
        <script src="//use.typekit.net/enw0xku.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <div class="container">
