<nav>
    <ul>
        <li><a href="/">Home</a>
        <li><a href="/download">Download</a>
        <li><a href="/getting-started">Getting Started</a>
        <li><a href="/reference">Reference</a>
        <li><a href="/examples">Examples</a>
        <li><a href="http://github.com/stuartmemo/theresas-sound-world">Contribute</a>
    </ul>
</nav>