{{> header }}
<header>
    <a href="/"><img src="/images/theresas-sound-world.png"/></a>
    <h1>Theresa's Sound World is a way of processing audio and making music using JavaScript</h1>
    {{> menu }}
</header>

<div role="main" class="main">
    <h2>Reference</h2>
    <p>Please note that Theresa's Sound World relies on the Web Audio API and therefore only works with <a href="http://google.com/chrome">Chrome</a> and <a href="http://apple.com/safari">Safari</a>.</p>
    {{#each commands}}
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
        <p>{{ example }}</p>
    {{/each}}
</div>
{{> footer }}