{{> header }}
<header>
    <a href="/"><img src="/images/theresas-sound-world.png"/></a>
    <h1>Theresa's Sound World is a way of processing audio and making music using JavaScript</h1>
    {{> menu }}
</header>

<div role="main" class="example">
    <h2>Documentation</h2>
    {{#each commands}}
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
        <p>{{ example }}</p>
    {{/each}}
</div>
{{> footer }}