<header class="mini">
    <a href="/"><img src="/images/theresas-sound-world.png"/></a>
    <h1>Theresa's Sound World is a way of processing audio and making music using JavaScript</h1>
    {{> menu }}
</header>
