body {
  background-color: #c3222e;
  color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h2 {
  font-size: 2em;
  font-family: "myriad-pro-1", "myriad-pro-2", arial, sans-serif;
  margin: 0.5em 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.section__subtitle,
.reference__navigation-section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0; }

p {
  line-height: 1.5em;
  margin: 0.8em 0; }

a, a:visited {
  color: #007aaa;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

.section__link {
  font-weight: bold; }

ul {
  line-height: 1.5em;
  list-style: none;
  margin: 0;
  padding: 0; }

.method__settings {
  margin: 0 0 1em; }

.method__param-name {
  float: left;
  font-weight: bold; }

.method__param-definition {
  -webkit-margin-start: 100px; }

.container {
  margin: 0em auto;
  max-width: 800px; }

/* Header */
.header__about {
  color: white;
  font-family: "myriad-pro-1", "myriad-pro-2", arial, sans-serif;
  font-size: 3em;
  line-height: 1.2em; }

.header__image {
  float: left;
  height: 160px;
  padding: 0 1.5em 1em 0; }

.header__canvas {
  position: absolute;
  top: 5px;
  z-index: -1; }

/* Main Navigation */
.main-navigation {
  clear: both;
  color: white;
  background-color: #6f1717;
  font-family: arial, sans-serif; }

.main-navigation__item {
  display: inline-block;
  padding: 1em 1.8em; }
  .main-navigation__item a {
    color: white; }
    .main-navigation__item a:visited {
      color: white; }

.main {
  background-color: #ffffc8;
  padding: 0.2em 2em 1em; }

.admin input, .admin select {
  margin-bottom: 1em;
  width: 30%; }

.reference-navigation {
  border-bottom: 1px solid #000;
  padding-bottom: 1em; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  text-align: left;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre, .codemirror {
  word-wrap: break-word;
  padding-left: 8px;
  background: #c3222e;
  margin: 0; }

pre {
  white-space: pre;
  white-space: pre-wrap; }

table pre {
  background: none;
  color: inherit;
  padding: 0; }

pre, code, blockquote {
  color: white;
  line-height: 1.2em;
  margin-bottom: 1em; }

.download {
  background: #6F1717;
  display: none;
  color: white;
  padding-top: 2px; }

.download li {
  margin-bottom: 10px; }

.effect {
  width: 33%;
  float: left;
  height: 130px; }

.effect input[type="range"] {
  width: 40%; }

.clearer {
  clear: both; }

table th {
  vertical-align: top; }

a {
  color: #007AAA; }

span.params {
  font-weight: normal; }

.method {
  background: #FFFEED;
  border-left: 8px solid #c3222e;
  border-bottom: 0;
  padding: 0.1em 1em;
  margin: 1em 0; }

.method__title {
  color: black;
  font-size: 1.5em;
  margin: 0.2em 0; }

.method__description {
  margin-top: 0; }

.method__example {
  padding: 0; }

section {
  border-bottom: 1px solid #6F1717;
  padding-bottom: 1em; }
  section section {
    border: 0; }
  section[name="reference"] section section pre .CodeMirror pre {
    padding: 0 4px; }
  section[name="reference"] nav {
    width: 100%; }
    section[name="reference"] nav li {
      display: inline-block;
      width: 32%; }
  section[name="reference"] section[name="effects"] section {
    border-left-color: #358B38; }
  section[name="reference"] section[name="music"] section {
    border-left-color: #007aaa; }

.highlight-box {
  background: #007aaa;
  padding: 1em;
  color: white; }

.highlight-box__heading {
  font-size: 2em;
  margin: 0; }

.highlight-box__example {
  padding: 0;
  margin: 0; }

.highlight-box__image {
  float: right;
  width: 160px;
  margin: 0;
  margin-top: 0.8em;
  margin-left: 0.8em; }

.highlight-box__link,
.highlight-box__link:visited {
  color: #ffffc8; }

.method-arguments {
  font-weight: normal; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

.fl {
  float: left; }

.no-margin {
  margin: 0; }

.col-d-5 {
  width: 50%;
  margin-right: 1em; }
