html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #c3222e;
  color: black;
  font-family: arial, sans-serif;
}

h1 {
  color: white;
  font-family: "myriad-pro", arial, sans-serif;
  font-size: 3em;
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
  font-family: "myriad-pro", arial, sans-serif;
  margin: 0.2em 0;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
}

p {
    line-height: 1.5em;
    margin: 0.5em 0;
}

a, a:visited {
    color: #6F1717;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    height: 0;   
    border: 0;
    box-shadow: #ccc 1px 0;
    border-bottom: 1px solid #000;
}

.container {
  margin: 4em auto;
  width: 800px;
}

header img {
  width: 150px;
  float: left;
  padding: 0 1.5em 1em 0;
}

.example {
  background-color: #ffffc8;
  padding: 1em 2em;
}

nav {
  clear: both;
  color: white;
  background-color: #6F1717;
  font-family: arial, sans-serif;
}

nav li {
  display: inline-block;
  padding: 1em 2em;
}

nav li a, nav li a:visited {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  text-align: left;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #6F1717;
  margin: 0;
}

pre, code, blockquote {
    padding: 1em;
    color: white;
    line-height: 1.2em;
}

.pln {
  color: white !important;
}

img.mini-logo {
    width: 35px;
}

.download {
    background: #6F1717;
    display: none;
    color: white;
    padding-top: 2px;
}

.download li {
    margin-bottom: 10px;
}

.download a {
    color: white;
}